.wenzi {
    text-align: right;
}

.parent-box {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.search-box {
    display: flex;
    flex-direction: row;
}

.footer-text {
    color: #999;
    font-size: 12px;
    text-align: center;
}

.button {
    background-color: blue;
    color: white;
}